*{
margin: 0;
padding: 0;
font-family:'Courier New', Courier, monospace;
box-sizing: border-box;
}
body{
    background: none;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#abd4d3,#e8bf96);
    color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffe;
    border-radius: 4px;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffe;
    border-radius: 20px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.search button:hover{
    opacity: 0.5;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 80px;
    margin-top: 20px;
}
.weather h1{
    font-size: 20px;
    font-weight: 500px;
}
.weather h2{
    font-size: 20px;
    font-weight: 400px;
    margin-top: -5px;/*not to mix the 22 and hyderabad.*/
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;/*creates gap bewteen img and text*/
}
.humidity, .wind{
    font-size: 20px;
}
/*.weather{
    display: none;
}*/
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}